.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.title{
    width: 400px;
    height: 200px;
    margin: 0 auto;
}